html
  head
    title
  body
    a(href="/productos") Ir a la lista
    h1 Ingrese producto:
    form(action='/productos' method='post')
      label(for='title') Titulo:
      input#title(type='text' name='title')
      br
      br
      label(for='price') Precio:
      input#price(type='text' name='price')
      br
      br
      label(for='thumbnail') Foto URL:
      input#thumbnail(type='text' name='thumbnail')
      br
      br
      input(type='submit' value='Enviar')